.about {


    &__img {
        width: 500px;
        height: 100%;

        @media (max-width: $mobile-width) {
            width: 300px;
            height: 100%;
            }
    }

    &__question {
        font-size: 1.25rem;
        color: #e3cc8b;

        @media (max-width: $mobile-width) {
            font-size: 1.15rem;
        }
    }

    &__flex {
        display: flex;
        margin: 10px 0 0 0;
        align-items: center;

        @media (max-width: $mobile-width) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__text--wrp {
        margin: 40px 0 0 0;
        @media (max-width: $mobile-width) {
            margin: 0;
        }

    }


    &__text {
        line-height: 25px;
        padding: 10px;
        color: #fff;
        font-size: 16px;
        text-align: center;

        @media (max-width: $mobile-width) {
            font-size: 14px;
        }
    }
}