.footer {

    &__title-logo {
        color: #fff;
        font-size: 17px;
        display: flex;
        align-items: center;
        //justify-content: center;

        @media (max-width: $mobile-width) {
            margin: 0 20px 0 20px;
            }
    }

    &__title-svg{
        width: 65px;

        @media (max-width: $mobile-width) {
            width: 50px;
            }
    }

    &__title {
        display: flex;
        align-items: center;
    }

    &__title-boo {
        font-family:'Parisienne';
        font-size: 40px;
        @media (max-width: $mobile-width) {
            font-size: 35px;
            }
    };
    &__content {
        height: 350px;

        @media (max-width: $mobile-width) {
            display: none;
            }
    }

    &__content-matrix {
        height: 350px;

        @media (max-width: $mobile-width) {
            height: 350px;
            display: block;
            }
    }
    &__wrp {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__background {
        display: flex;
        justify-content: center;
        min-height:50px;
        border-top: 1px solid gray;
        padding: 10px;align-items: end;
        margin-top: 30px;
    }

    &__copy--year{
        color: #fff;
    }

    &__copy{
        margin: 5px;
    }


}
